body 
{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../files/contacts.jpg");
    background-size: cover;
    background-attachment: fixed; 
}

.contact-container 
{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 60px;
}

.contact-info 
{ 
    background: #b9ac94;
    border-radius: 15px;
    padding: 30px;
    width: 300px;  
    height: 140px;
}

.contact-form 
{
    background: #b9ac94;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
}

.contact-info h2,
.contact-form h2 
{
    margin-top: 0;
}

.contact-form form 
{
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea 
{
    background: #dbd4c7;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000000;
}

.contact-form button 
{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover 
{
    background-color: darkgreen;
}