body 
{
    background: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/cards2.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.askania 
{ 
    background-image: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/askania.png"); 
}

.synevir
{ 
    background-image: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/synevir.png"); 
}
