.cards 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.card 
{
    text-decoration: none;
    height: 200px; 
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
}

.card1 { background-image: url("../files/cards.jpg"); }
.card2 { background-image: url("../files/cards1.jpg"); }
.card3 { background-image: url("../files/cards2.jpg"); }
.card4 { background-image: url("../files/cards3.jpg"); }
.card5 { background-image: url("../files/cards4.jpg"); }
.card6 { background-image: url("../files/cards5.jpg"); }
.card h3 { margin: 0; }
.card p { margin: 5px 0 0 0;}
.card:hover { transform: scale(1.04); transition: 0.4s; }