body 
{ 
    background: linear-gradient(to right, #eef2f7, #dfe7f1);
}

.news-hero 
{
    text-align: center;
    padding: 15px, 20px; /* Отступы сверху и снизу */
}

.news-hero h1 
{  
    font-style: italic;
    font-family: Georgia;
    font-size: 30px;
    margin-bottom: 20px; /* Отступ между заголовком и текстом */
}

.news-title
{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px; /* Увеличиваем отступ между заголовком и сеткой новостей */
    font-weight: 700; /* Увеличиваем жирность для более выразительного заголовка */
}

.news-grid 
{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap; /* Позволяет карточкам переноситься на следующую строку при недостатке места */
}

.news-card 
{
    background: white;
    width: 350px;
    border-radius: 15px;
    overflow: hidden; /* Скрываем части изображения, выходящие за рамки карточки */
    box-shadow: 0 10px 25px rgba(0,0,0,0.08); /* Легкая тень для объема box-shadow: X Y blur color; */
    transition: 0.3s ease;
}

.news-card img 
{
    width: 100%;
    height: 220px;
    object-fit: cover; /* Сохранение пропорций изображения и обрезка при необходимости */
}

.news-date 
{
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 10px;
}


.news-content 
{
    padding: 20px;
}

.news-card h3 
{
    font-size: 18px;
    margin-bottom: 15px; /* Отступ между заголовком и текстом */
}

.news-card:hover 
{
    transform: translateY(-8px); /* Поднимаем карточку при наведении */
    box-shadow: 0 15px 35px rgba(0,0,0,0.15); /* Усиливаем тень при наведении для эффекта подъема */
}
