body 
{
    background: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/cards5.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.zybr 
{ 
    background-image: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/zybr.png"); 
}

.ghost 
{ 
    background-image: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/ghost.png"); 
} 

.horse 
{ 
    background-image: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/horse.png"); 
} 

.cat 
{ 
    background-image: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/cat.png"); 
} 

.tyrlych 
{ 
    background-image: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/tyrlych.png");
} 

.deer 
{ 
    background-image: linear-gradient(rgba(145, 133, 111, 0.637), rgba(119, 109, 86, 0.591)), url("../files/deer.png"); 
}