body 
{ 
    margin: 0; 
    background-color: #aec5ae;
} 

.banner 
{
    height: 100px;
    background-image: url("../files/banner1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
} 

.logo a
{ 
    text-decoration: none;
    color: #aec5ae; 
    margin: 40px; 
    font-size: 20px;
    font-weight: bold; 
    display: inline-block;
    transition: 0.3s;
} 

.menu { margin-top: 35px; }

.menu a 
{
    text-decoration: none;
    color: white; 
    margin: 20px; 
    font-size: 20px;
    font-weight: bold; 
    display: inline-block;
    transition: 0.3s;
}  

.menu a:hover 
{ 
    color: rgb(154, 154, 154); 
    transform: translateY(-2px);
}